/* This file is for your main application css. */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* ------- css components using tailwind -------- */
.logon-label {
  @apply block text-blue-800;
}

.logon-input {
  @apply w-full px-2 py-1 rounded-sm border border-gray-300 shadow-inner;
}

.logon-btn {
  @apply mt-6 bg-blue-600 rounded h-12 w-20 text-blue-100 border-b-4 border-blue-800;
}
.logon-btn:hover {
  @apply bg-blue-500 border-blue-700;
}
.logon-btn:active {
  @apply border-b-0;
}

.send-btn {
  @apply py-1 px-3 rounded border-2 border-gray-500 text-gray-800 bg-gray-200;
}
.send-btn:hover {
  @apply bg-blue-500 text-white border-blue-500;
}

.chat-input {
  @apply flex-grow mr-4 px-2 border-gray-500 border-2 rounded shadow-inner;
}
.chat-input:focus {
  @apply border-blue-500;
}

/* ------- import custom styles below ------- */

/* TODO: configure purgecss in order to remove uncessesary utility classes later */